{% extends "capstone/layout.html" %}
{% load static %}
{% block body %}

<div class="sidebar-flex">

    <div id="points">
        <table>
            <tr>
                <th>Top 10</th>
                <th>User</th>
            </tr>
            {% for score in top_points %}
            <tr>
                <td>{{ score.points }}</td>
                <td>{{ score.username }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    <div id="div_canvas">
        <div id="title">{{ the_game.name }}</div>

        <div id-="start">Press 's' to start the game</div>
        <img id="start_image" alt="Coult not load image">
        <canvas id="canvas"></canvas>
    </div>
    
    <div id="directions">
        <div id="instructions">
            {{ the_game.description }}
        </div>
    </div>

</div>
{% endblock %}
