{% extends "capstone/layout.html" %}
{% load static %}
{% block body %}

<div class="sidebar-flex">

    <div id="points">
        <table>
            <tr>
                <th>Top 10</th>
                <th>User</th>
            </tr>
            {% for score in top_points %}
            <tr>
                <td>{{ score.points }}</td>
                <td>{{ score.username }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% if user.is_authenticated %}
        <div id="div_canvas">
            <b><h4><div id="title">{{ the_game.name }}</div></h4></b>
            <div id="the_heart">
                {% if request.user in the_game.likes.all %}
                    <i class="fa-solid fa-heart liked" id="like_icon" data-iconid="{{the_game.id}}"></i>
                {% else %}
                    <i class="fa-regular fa-heart" id="like_icon" data-iconid="{{the_game.id}}"></i>
                {% endif%}
            </div>
            <img id="start_image" alt="Coult not load image">
            <canvas id="canvas"></canvas>
        </div>
    {% else %} 
    <div id="div_canvas">
        <br>
        <div id="title">
            <a id="a_game" href="{% url 'login' %}">
                <kbd style="background-color: red; color: black;  font-size: 32px; padding-left: 20px; padding-right: 20px;">
                    LOG IN TO PLAY
                </kbd>
            </a>
           <br>
           <i class="fa-regular fa-heart game_like"></i>
        </div>
        <img id="start_image" src="{{ the_game.imageURL }}" alt="Could not load image">

    </div>
    {% endif %}
    
    <div id="directions">
        <div id="instructions">
            {{ the_game.description }}
        </div>
    </div>

</div>
{% endblock %}
